<div class="container m-5">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>Datos de la transaccion</h4>
                </div>
                <div class="card-body">
                    <p>Cedula del responsable: {{date.cedula}}</p>
                    <p>Nombre del responsable: {{date.nombre_responsable}}</p>
                    <p>Cedula del beneficiado: {{date.cedula_beneficiado}}</p>
                    <p>Nombre del beneficiado: {{date.nombre_beneficiado}}</p>
                    <p>Numero de cuenta: {{date.nro_cuenta}} </p>
                    <p>Cantidad a Pagar: {{date.cantidad}} Bs.S</p>  
                </div>
                <div class="card-footer">
                    <a href="/transferencias" class="btn btn-primary btn-block">
                        Regresar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>